.legend div{
    display: flex;
}
.legend div img{
    width: 2rem;
    height: auto;
    margin: 3px;
    margin-right: 1rem;
}

.action-text{
    margin-top: 2rem;
}

.sim-component{
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
   
}

.sim-component:hover{
    background-color: #D6C576;
}

.sim-component img{
    width: 4rem;
    height: auto;
}

.sim-component p{
    text-align: center;
}

#comp-data{
    position: absolute;
    left: 0px;
    top: 1rem;
    margin: .2rem;
    padding: .2rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: row;
}

#comp-data p{
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 13px;
}

#comp-data:hover{
    background-color: #C4B1A6;
    border: 2px solid #C4B1A6;
}

#comp-data img{
    width: 1.5rem;
    height: auto;
}

.comp-processor{
    position: absolute;
    left: 45%;
    top: 12rem;
}

.comp-dma{
    position: absolute;
    left: 80%;
    bottom: 6rem;
}

.comp-memory{
    position: absolute;
    left: 10%;
    bottom: 6rem;
}

.comp-dc{
    position: absolute;
    left: 80%;
    top: 12rem;
}

.comp-device{
    position: absolute;
    left: 80%;
    top: 0rem;
}

.comp-driver{
    position: absolute;
    left: 10%;
    top: 12rem;
}

.comp-os{
    position: absolute;
    left: 10%;
    top: 0rem;
}

.horizontal-flow{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    height: 2rem;
}

.vertical-flow{
    border-left: 4px solid black;
    border-right: 4px solid black;
    width: 2rem;
}

.iobus{
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: 11rem;
}

.iobus2{
    height: 9rem;
    position: absolute;
    left:49%;
    bottom: 13rem;
}

.driverflow{
    width: 27%;
    position: absolute;
    left: 20%;
    top: 15rem;
}

.dcflow{
    height: 7rem;
    position: absolute;
    left:84%;
    bottom: 15rem;   
}

.deviceflow{
    height: 6rem;
    position: absolute;
    left:84%;
    top:8rem;   
}

.os2driverflow{
    height: 5rem;
    position: absolute;
    left:14%;
    top:8rem;   
}

.processor_to_dc_flow{
    width: 20rem;
    position: absolute;
    left: 55%;
    top: 15rem;
}

